footer {
    background-color: #343a40;
}

#footerNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343a40;
    bottom:0;
}

#footerNav li {
    float: right;
}

#footerNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#footerNav li a:hover {
    background-color: #851d50;
}