.jumbotron {
    background: url("../assets/img/backgroundImage.jpg") no-repeat center;
    color:white;
    text-align:center;
    padding:28vh 0;
    margin-bottom:0;
    /* Parallax Effect */
    height:80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    border: 2px solid #ffffff;
    max-width: 540px;
    padding: 5vh 0;
}

.jumbotron h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--headerFont);
}

.jumbotron p {
    letter-spacing: 3px;
}

/* Responsive Settings */

