.icon {
    max-width:8vw !important;
    transition:0.3s;
}

.icon:hover {
    transition: 0.3s;
    transform: scale(1.3);
}

#skills .row {
    display: flex !important;
    justify-content: space-between;
}

#skills .col {
    text-align: center !important;
}