.devIcons div {
    display: inline-block;
}

.icon {
    max-width:8vw;
    transition:0.3s;
}

.icon:hover {
    transition: 0.3s;
    transform: scale(1.3);

}

#devIcons .row {
    display: flex !important;
}

#devIcons .col {
    text-align: center !important;
}